.AboutBox {
  padding: 5px 20px;
  margin: 40px 45px;
  border: 2px solid #eb5e28;
  box-shadow: 7px 7px 1px #eb5e28;
  text-align: center;
  text-shadow: 0px 0px 0.3px;
}
.AboutBox > p {
  text-align: right;
  padding: 0px 20px;
  margin: 0px;
  font-weight: 300;
  font-style: italic;
  color: #eb5e28;
}

@media screen and (max-width: 700px) {
  .AboutBox {
    margin: 40px 20px;
  }
}
